<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <form method = "post" action = "{%url 'recordsheet' %}" >
    {% csrf_token %}

    <input type="hidden" id="user_id" name="user_id" value="{{ user.id}}">
    <label for = 'date'>Date</label>
    <input type = "date" id = "date" name = "date" class = "date-picker"><br><br>

    <input type="submit" value="search">

    {%if selected_date%}
    <h2>Attendance Records for {{ user.first_name }} {{ user.last_name }} on {{ selected_date }}</h2>
    <ul>
        {% for record in attendance_records %}
            <li>Punch In: {{ record.punch_in }} | Punch Out: {{ record.punch_out }}</li>
        {% endfor %}
    </ul>
{% endif %}

    

</form>
    
</body>
</html>