<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%if message %}
       {%for message in messages%}
        <p>{{message}}</p>
         {%endfor%}
    {%endif%}
   <form method = "post" >
    {% csrf_token %}

    <input type="hidden" id="user_id" name="user_id" value="{{ user.id}}">
    <label for = 'date'>Date</label>
    <input type = "date" id = "date" name = "date" class = "date-picker"><br><br>

    <input type="submit" value="search">

    <h1>Attendance Record Sheet for {{ user.first_name}} on {{ date }}</h1>

    {% if attendance %}
        <ul>
            {% for record in attendance %}
                <li>
                    Date: {{ record.date }}<br>
                    Punch-In: {{ record.punch_in }}<br>
                    Punch-Out: {{ record.punch_out }}<br>
                    Break-In: {{ record.break_in }}<br>
                    Break-Out: {{ record.break_out }}<br>
                    
                </li>
                
                            
                                Total Working Hours: {{ total_work_hours }}
                            
                

                
            {% endfor %}
            
        </ul>
    {% else %}
        <p>No attendance records found for the selected date.</p>
    {% endif %}

    

</form>
    
</body>
</html>